* {
    margin: 0;
    padding: 0;
}
body{
    background: #750000;
}
.ranking-content {
    width: 1440px;
    margin: 0 auto;
    background: #750000;
    position: relative;
}
.ranking-bg {
    width: 100%;
    height: 880px;
    background-image: url("../images/ranking.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
ul,
li {
    list-style: none;
}
.ranking-item {
    width: 1250px;
    margin: -37px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 51px 0px;
    padding-bottom: 120px;
}
.ranking-item li {
    width: 600px;
    height: 258px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    background: url("../images/card.png"), #f1e3c7;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border: 3px solid rgba(194, 126, 52, 1);
    box-sizing: border-box;
    position: relative;
}
.ranking-item .ranking-left-img {
    width: 183px;
    height: 100%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    flex-shrink: 0;
    overflow: hidden;
}
.ranking-left-img img {
    width: 100%;
    height: 100%;
}

.ranking-item li > div {
    width: 417px;
    height: 100%;
    box-sizing: border-box;
}
.ranking-item li div p {
    line-height: 40px;
}

.modal-mask {
    display: none;
}
.ranking-modal-mask {
    position: fixed;
    height: 100%;
    width: 100%;
    inset: 0;
    z-index: 10;
    background-color: #00000073;
}
.modal-content {
    width: 800px;
    height: 512px;
    background-color: #f1e3c7;
    z-index: 11;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    border: 3px solid rgba(194, 126, 52, 1);
    box-sizing: border-box;
}
.body-mask {
    width: calc(100% - 17px);
    overflow: hidden;
    position: relative;
}
.login {
    position: absolute;
    top: 40px;
    right: 40px;
    text-decoration: none;
    color: #fff;
}
.ranking-title {
    height: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 32px;
    font-family: PingFangSC-Semibold;
    font-size: 14px;
    font-weight: 600;
    color: #000000;
}
.ranking-header {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0px 32px;
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: 0px;
    color: rgba(0, 0, 0, 0.65);
    z-index: 0;
}
.ranking-header > div:nth-child(1),
.ranking-table-item .table-img {
    width: 72px;
}
.ranking-header > div:nth-child(2),
.table-name {
    width: 136px;
}
.ranking-header > div:nth-child(3),
.table-bug-num {
    width: 145px;
}
.ranking-table > .ranking-table-item:nth-child(2) {
    background: rgba(0, 0, 0, 0.08);
    color: #d82400;
}
.ranking-table-item {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    padding: 0px 32px;
    font-family: PingFangSC-Medium;
    font-size: 14px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    box-sizing: border-box;
}
.ranking-table-item .table-img img {
    width: 24px;
    height: 32px;
}
.ranking-angle-mark {
    width: 40px !important;
    height: 80px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 10px;
    background: url("../images/angleMark.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    left: 12px;
    top: -12px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #ffffff;
}
.flex {
    display: flex;
}
.input-item-right {
    flex: 1;
}
.input-container {
    min-width: 110px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0px 16px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.16);
    position: absolute;
    top: 40px;
    right: 120px;
    box-sizing: border-box;
}

/* 选择框 */
.select-selector {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    position: relative;
    height: 40px;
    user-select: none;
    font-size: 14px;
    color: #333333;
    cursor: pointer;
    font-family: Microsoft YaHei, Microsoft YaHei-Regular;
    transition: all 0.2s ease-in-out;
}

.select-selector:hover,
.select-selector.active {
    border-color: #6f49de;
    box-shadow: 0 0 0 2px rgba(111, 73, 222, 0.15);
}

.select-selector-error {
    border-color: #ff4d4f !important;
}

.select-selector-error:hover {
    border-color: #ff4d4f;
    box-shadow: 0 0 0 2px rgba(255, 77, 79, 0.16);
}

.selector-title {
    flex: 1;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    margin-left: 8px;
}

.selector-icon {
    position: absolute;
    right: 0px;
    top: 14px;
    font-size: 12px;
}

.selector-option-list {
    position: absolute;
    top: 37px;
    left: -1%;
    width: 102%;
    background: #ffffff;
    border-radius: 2px;
    overflow: hidden;
    max-height: 0;
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    z-index: 10;
}

.select-selector.active .selector-option-list {
    max-height: 800px;
    box-shadow: 0px 9px 28px 8px rgba(0, 0, 0, 0.05);
}

.selector-option-list li {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 34px;
}

.selector-option-list li:hover {
    background: #f5f5f5;
}
.avator {
    width: 24px;
    height: 24px;
}
.default-name {
    display: flex;
    align-items: center;
    margin-right: 16px;
}
/* 选择框 END */
.modal-header {
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 32px;
}
.modal-header > span {
    font-family: PingFangSC-Semibold;
    font-size: 16px;
    font-weight: 600;
    color: #000000;
}
.modal-header > img {
    width: 16px;
    height: 16px;
    cursor: pointer;
}
.modal-item {
    width: 800px;
    min-height: 364px;
    display: flex;
    flex-wrap: wrap;
    padding: 40px 64px;
    box-sizing: border-box;
    gap: 40px 64px;
}
.modal-item li {
    width: 80px;
    height: 126px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.modal-item li img {
    width: 48px;
    height: 48px;
}
.modal-item li span {
    font-family: PingFangSC-Medium;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    color: #3d3d3d;
}
.modal-item li div {
    width: 80px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 16px;
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.15);
    font-family: PingFangSC-Medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #750000;
    z-index: 0;
    box-sizing: border-box;
}
.adminPage {
    position: absolute;
    top: 47px;
    right: 20px;
    color: #1890ff;
}
.music {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    position: fixed;
    left: 30px;
    top: 30px;
    animation: rotate_ar 10s linear infinite;
}
.music_bg {
    width: 100%;
    height: 100%;
}

@keyframes rotate_ar {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

.img_ar_active {
    animation-play-state: running;
}
.img_ar_paused {
    animation-play-state: paused;
}
.pause,
.play {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.pause {
    display: none;
}

audio{
    display: none;
}